.main_page{
	position:relative;
}
.container{
	float:left;
	width:55%;
}
.image_s{
	max-width:45%;
	margin-left:15px;
	margin-bottom:10px;
	border:1px solid black;
}
.image_s:hover{
	cursor:pointer;
}
.size_buttons{
	position:inline-block;
	margin-top:10px;
}
.inside_button{
	font-size:18px;
	text-decoration:none;
	color:brown;
}
.buttons_s{
	margin:5px;
	background-color:pink;
	border:none;
	border-radius:45%;
	text-align:center;
	padding:15px;
	transition: transform .3s;
}
.buttons_s:hover{
	 transform: scale(1.1);
}
.price_tag{
	font-size: 24px;
    font-weight: 500;
    line-height: 1;
    color: #282C3F;
	font-family:Bodoni MT Black;
}
#addi{
	color: #7E808C;
    font-size: 14px;
    display: block;
}
#size_sel{
	display: inline-block;
    margin: 0px;
    font-weight: 500;
}
#size_chart{
	margin-left:5px;
    background-color: rgba(0, 0, 0, 0);
    border:2px;
    text-align: right;
    color: #ff3e6c;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
#nm1{
	text-align:left;
	font-size:30px;
	font-family:Rockwell;
}
#nm2{
	text-align:left;
	font-family:Copperplate Gothic Bold;
	font-size:25px;
}
.size_buttons{
	display:inline-block;
	position:relative;
}
#best_t{
	margin-top:20px;
	font-family:Impact;
	font-size:16px;
}
#best_tag{
	max-width: 25px;
	max-height: 25px;
}
.product_details{
	
}
#pd_det1{font-family:Rockwell;font-size:17px;}
#pd_det2{font-family:Gunplay;font-size:15px;color:#ff3333;}
.pd_det3{font-family:Rockwell;font-size:15px;}
.pd_det4{font-family:Rockwell;}
.pd_det_ul{
	font-family:Rockwell;
	font-size:16px;
}
.footer-distributed{
	background-color: rgb(250, 251, 252);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px Rockwell;
	padding: 55px 50px;
	margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #8f9296;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #8f9296;
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #8f9296;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #8f9296;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-distributed .footer-left{
	width: 40%;
}
.footer_img{
	
}
